<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!-- Include the navbar -->
    <%- include('../partials/_navbar.ejs') %>

        <div class="profile-container">
            <h1>Profile</h1>
            <p>
                You have <%= myRecipes.length %>
                    <%= myRecipes.length===1 ? 'Recipe' : 'Recipes' %>
            </p>

            <div class="profile-card-container">
                <% myRecipes.forEach((recipe)=> { %>
                    <a href="/recipes/<%= recipe._id %>">
                        <h4><%= recipe.name %> Recipe</h4>
                        <p>Ingredients: <%= recipe.ingredients %></p>
                        <p>Instructions: <%= recipe.instructions %></p>
                        <p>Tips: <%= recipe.tips %></p>
                        <p>Owned by <%= recipe.owner.username %>
                        </p>
                    </a>
                    <% }) %>
            </div>

            <div class="profile-favorites-container">
                <p>
                    You have <%= myFavoriteRecipes.length %>
                        <%= myFavoriteRecipes.length===1 ? 'Favorite' : 'Favorites' %>
                </p>
                <div class="profile-card-container">
                    <% myFavoriteRecipes.forEach((recipe)=> { %>
                        <a href="/recipes/<%= recipe._id %>">
                            <h4><%= recipe.name %> Recipe</h4>
                            <p>Owned by <%= recipe.owner.username %>
                            </p>
                        </a>
                        <% }) %>
                </div>
            </div>
        </div>
</body>

</html>