<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= recipe.name %></title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-page-container">
        <div class="show-img"></div>
        <div class="show-info-container">
            <div class="show-header">
                <h1><%= recipe.name %> Recipe</h1>
            </div>
            <div class="show-details-container">
                <h3>Details</h3>
                <p>Name: <%= recipe.name %></p>
                <p>Ingredients: <%= recipe.ingredients %></p>
                <p>Instructions: <%= recipe.instructions %></p>
                <p>Tips: <%= recipe.tips %></p>
                <% if (recipe.owner._id.toString() === user._id.toString()) { %> <!-- Updated this line -->
                    <div class="owner-container">
                        <p>Owned by you</p>
                        <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
                        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete Recipe</button>
                        </form>
                    </div>
                <% } else { %>
                    <p>Owned by <%= recipe.owner.username %></p>
                <% } %>
            </div>
            <div class="favorites-container">
                <div class="favorites-count">
                    <h2><%= recipe.favoritedByUsers.length %> Favorites</h2>
                </div>
                <div class="favorite-button-container">
                    <% if (userHasFavorited) { %>
                        <form action="/recipes/<%= recipe._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST">
                            <button type="submit">Unfavorite</button>
                        </form>
                    <% } else { %>
                        <form action="/recipes/<%= recipe._id %>/favorited-by/<%= user._id %>" method="POST">
                            <button type="submit">Favorite</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

